# deps
node_modules/
.pnpm-store/

# builds / caches
dist/
.expo/
apps/mobile/android/
apps/mobile/ios/
.turbo/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example
google-play-service-account.json

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json